pip install flask
pip install xgboost
pip install scikit-learn
pip install imbalanced-learn
pip install pandas
pip install numpy
pip install joblib
pip install json
pip install flask-cors


# How to run the server
Navigate to the Server folder and run this command 'python3 server.py'